/* Excalifont (SIL OFL 1.1), self-hosted from the Excalidraw project. Used for
   the hand-drawn mermaid diagrams. See Excalifont-LICENSE.txt. */
@font-face {
  font-family: 'Excalifont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Excalifont-Regular-latin.woff2') format('woff2');
  unicode-range: U+20-7e, U+a0-a3, U+a5-a6, U+a8-ab, U+ad-b1, U+b4, U+b6-b8,
    U+ba-ff, U+131, U+152-153, U+2013-2014, U+2018-201a, U+201c-201e, U+2020,
    U+2022, U+2024-2026, U+2030, U+2039-203a, U+20ac, U+2122, U+2212;
}

@font-face {
  font-family: 'Excalifont';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Excalifont-Regular-latin-ext.woff2') format('woff2');
  unicode-range: U+100-130, U+132-137, U+139-149, U+14c-151, U+154-17e, U+192,
    U+1fc-1ff, U+218-21b, U+237, U+1e80-1e85, U+1ef2-1ef3, U+2113;
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  overflow: hidden;
}
