@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/kalam-latin-400-normal.woff2') format('woff2');
}

@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/kalam-latin-700-normal.woff2') format('woff2');
}

.katex-display {
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  overflow: hidden;
}
